body{
    background-color: black;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
img{
    border: solid white;
    height: 70%;
}
.text{
    color: white;
    text-align: center;
}
h1{
    font-family: "Libre Baskerville" ;
    font-size: 4rem;
    text-transform: capitalize;
}
p{
    font-size: 1.7rem;
}